.column
{
    width: 146px;
    height: 163px;
    border: 1px solid #2283DD;
    box-shadow: 2px 2px 6px -2px #F5F5F5;
    border-radius: 20px;
    padding: 12px;
    text-align: center;
}
.column:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: .3s linear transform;
}
.title_tinh
{
    margin-bottom: 6px;
}
.phantramdoam{
    font-size: 14px;
}